.table {

  border: 1
  width: 8px;

}

ul {
 display: flex;
 display:inline-block;
 justify-content:space-around;
 list-style-type: none


 }

#me{

  width: 600px;
  height: 800px;

}
#forest{

  width: 200px;
  height: 250px;

}

#life {

  width: 200px;
  height: 250px;

}

#American {

  width: 200px;
  height: 250px;

}



h2
{

  color:green;
  font-family:;Ariel,sans-serif;
  line-height:50%;
  font-size:30px;


}

a {

 color: #D3E8DB;
 text-decoration:underline;

}

.topprofle p
{

  padding-top:40px;
  font-size:35px;
}

#myname
{
 color:white;
 font-size:50px;

}
body
{
 background-image:url("images/backgroundimage.jpg");

}


 a
 {
   margin-right:15px;

 }

 #movies
 {

  margin-top:115px;
  font-size:30px;
  color:rgba(204, 204, 0,0.5);

 }
#job

{
 text-decoration: underline;
 color: #ff9999;


}
li
{
font-size:20px;
margin-top:40px;
margin-bottom:40px;

}

.picture_and_quotes
{
  display:text;

}

.picture_and_quotes

{

  display:flex;
  justify-content: center;
  align-items: center;
  justify-content:space-around
}


.quote
{
color:white;
font-size:40px;
}
